// out: css/main.css, sourcemap: true

// COLOR VARIABLES
@logo-pink: darken(hotpink, 10%);
@logo-mute: desaturate(@logo-pink, 50%);
@logo-pink-light: lighten(@logo-pink, 70%);
@nav-green: lightgreen;
@hover-green: lighten(@nav-green, 15%);

// TYPE VARIABLES
@regular: 1em;
@large: @regular * 1.75;
@x-large: @large * 2;
@xx-large: @large * 3;
@fancy-font: 'Coming Soon', cursive;
@normal-font: 'Josefin Sans', sans-serif;

// To make zebra stretch the whole way, had to make html and body stretch the entire browser screen
html,
body {
  width: 100%;
  height: 100%;
}

body {
  // background-color: @logo-mute;
  color: @logo-pink-light;
  font-size: @regular;
  font-family: @fancy-font;
  margin: 0;
  background-image: url("../Images/Zebra-stripes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}




.header {
  background-color: @logo-pink;
  width: 100%;
  // height: 6em;
  font-family: @fancy-font;
  font-size: 4em;

  p {
    margin: 0;
  }

  // top: 0;
  // margin: -2em, auto;
}

// .navigation {
//   // float:left;
//   // background-color: lightgreen;
//   // width: 25%-1px;
//   // font-family: @fancy-font;
//   // text-align: center;
//   // height: 2em;
//   // border-style: groove;
//   // border-width: 3px;
//
//
//   // span {
//   //   /* display: block; lets us use position: absolute; to horizontally and vertically center our span inside of a div, div must also be position: absolute; or position: relative; for this to work */
//   //   // display: block;
//   //   // width: 100%;
//   //   // position: absolute;
//   //   // top: 50%;
//   //   // margin-top: -.5em;
//   //   // left: 0;
//   // }
// }

.drop-down {
  position: relative;
  z-index: 1;
}

#primary_nav_wrap {
	margin-top:0px
}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	padding:0 15px;
	font-family: @fancy-font;
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li {
	background:@nav-green;
}

#primary_nav_wrap ul li:hover {
	background:@hover-green;
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li {
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul {
	display:block
}

// .main-content {
//   background-image: url("../Images/Zebra-stripes.jpg");
//   // background-repeat: no-repeat;
//   background-color: white;
//   color: black;
//   font-style: @fancy-font;
// }



///// CAROUSEL ATTEMPT 2 /////
///// http://agelber.com/blog/looping-carousel/ //////

// Put the entire carousel into a container so that able to position the entire thing and elements within the thing
.carousel-container {
  display: table;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  z-index: 0;

  .carousel-nav {
    width: 10em;
    font-family: @fancy-font;
    font-size: 1em;
    position: absolute;
    top: 50%;
    z-index: 0;

    &.prev {
      left: -11em;
    }

    &.next {
      right: -11em;
    }
  }
}

.carousel {
  position: relative;
  z-index: 0;
  list-style: none;
  font-family: @fancy-font;
  text-align: center;
  font-size: 3em;
  color: @logo-pink;

  padding: 0;
  // padding: 10px, white;
  // border: solid, 20px;

  > li {
    display: none;

    &.active {
      display: list-item;
    }

    &.next-out, &.prev-out {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    img {
      width: 500px;
      border-width: medium;
      border-color: white;
      border-style: solid;
    }
  }
}


.service-info {
  background-color: @logo-pink-light;
  margin: 5% 5%;
  color: black;

}


.footer {
  background-color: @logo-pink;
  width: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3em;
  p {
    float:left;
    margin-left: 3em;
  }
}

.social-media {
  height: 2em;
  width: 2em;
  float: right;
  margin-right: 3em;
  margin-top: 10px;
}




///////////RESPONSIVE DESIGN WORK //////////////
@media screen and (max-width: 540px) {
  .navigation {
    width: 50%;
  }
}
